[Desktop Entry]
Type=Application
Exec=compton
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=compton
Name=compton
Comment[en_CA]=
Comment=
